[package]
name = "carmine_protocol"
version = "0.1.0"
description = "Code for Carmine Option AMM"
cairo-version = "2.2.0"
homepage = "https://github.com/CarmineOptions/protocol-cairo1"


[dependencies]
cubit = { git = "https://github.com/chepelau/cubit.git", branch = "main" }
snforge_std = { git = "https://github.com/tensojka/starknet-foundry.git", branch = "patch-1"}
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag = "v0.7.0" }
starknet = ">=2.2.0"

[[target.starknet-contract]]
sierra = true
casm = true

# build-external-contracts = ["openzeppelin::token::erc20::erc20::ERC20"]

[scripts]
test = 'snforge' # This does not preserve terminal colors :(( better to use make
