[package]
name = "carmine_protocol"
version = "0.1.0"
description = "Code for Carmine Option AMM"
cairo-version = "2.3.0"
homepage = "https://github.com/CarmineOptions/protocol-cairo1"


[dependencies]
cubit = { git = "https://github.com/influenceth/cubit.git", branch = "main" }
snforge_std = { git = "https://github.com/tensojka/starknet-foundry.git", branch = "patch-1"}
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", branch = "main" }
starknet = ">=2.3.1"

[[target.starknet-contract]]
sierra = true
casm = true

[scripts]
test = 'snforge' # This does not preserve terminal colors :(( better to use make
